<div class="container">
  <div class="logout">
    <a href="/admin-login"><button type="submit" class="btn btn-primary">LogOut</button></a>
  </div>
  <h1 class = "header" align = "center">
    <span class="f">F</span>
    <span class="u">u</span>
    <span class="n">n</span>
    <span class="d">d</span>
    <span class="o">o</span>
    <span class="oo">o</span>
  </h1>
  <h3 align = "center" class="header"><b>List of Users registered with Fundoo</b></h3>
  <hr color="text-black">
  <div align="center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="cards row" id="services"></div>
    </div>
  </div>
  <br>
  <div class="col-sm-4"></div>
  <table class="table pre-srollable" id="table1">
    <thead class="tableRow">
      <tr>
        <th scope="col">Sl No.</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Service</th>
      </tr>
    </thead>
  </table>
</div>