.f
{
    color: rgb(100, 158, 235);
}
.u{
    color:yellow;
}
.n{
    color:red;
}
.d{
    color: rgb(100, 158, 235);
    font-size: 35px;
}
.o{
    color: green;
}
.oo{
    color:red;
}
.table-row
{
    cursor: pointer;
}
.header 
{
    margin-top: 3px;
    color: whitesmoke;
}
.tableRow 
{
    background-color: black;
    color: #F7F7F7;
}
.logout 
{
    float: right;
    margin-top: -35px;
    padding-left: 93.88%;   
}
.cards 
{
    margin-left: 20px;
}
.card 
{
    height: fit-content;
    background-color: black;
}
.container-fluid
{
    height: 300px;
    margin: 0 auto -4em;
    margin-top: 10px;

}
.cards
{
    text-transform: uppercase;
        
}
