<div> 
<div class="container-fluid">
  <div class="card">
      <div class="letters" fxLayout="row" style="font-size: 20px; align: center">
        <span class="f">F</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
        <span class="o">o</span>
        <span class="oo">o</span>
        <span class="logout">
          <div id="dash" class="btn btn-dark">Admin Page</div>
        </span>
      </div>
      <div class="display" style="font-style:2vw">
        <h1 class="display1">Welcome to Admin Question and Answers </h1>
      </div>
    </div>
    <div class="card1">
      <table id="userList" class="table-hover tables">
        <thead>
          <tr class = "question">
            <th scope="col-2">Sl No.</th>
            <th scope="col-6">Questions Asked</th>
            <th scope="col-4">Approve/Disapprove</th>
          </tr>
        </thead>
      </table>
      </div>
</div>
</div>

<div class="sk-circle" id = "show">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>